<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User List</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
        <div class="container">
                <h1>Users</h1>

                {% if user_list %}
                <table class="table table-striped">
                        <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                        </tr>
                        {% for user in user_list %}
                                
                                <tr>
                                        <td><a href="{% url 'usermanagement:detail' pk=user.hash_code %}">{{user.user_name}}</a></td>
                                        <td>{{user.email}}</td>
                                        {% if user.role == 'm'%}
                                                <td>Manager</td>
                                        {% else %}
                                                <td>User</td>
                                        {%endif%}
                                        <td>
                                                <a href="{% url 'usermanagement:user_edit' pk=user.hash_code %}">edit</a>
                                        </td>
                                </tr>
                        {% endfor %}
                </table>

                {% else %}
                        <p>No users found!</p>
                {%endif%}
                <a class="btn btn-primary" href="{% url 'usermanagement:user_new' %}">New</a>
                
        </div>

</body>
</html>